<footer class="footer">
    <header class="website-name website-name--direction-column-left"><!-- BLOCK / MODIFIER-->
        <article class="website-name__container"><!-- ELEMENT -->
            <h1 class="website-name__title">Elderwood</h1> <!-- ELEMENT -->
            <img class="website-name__icon" src="assets/images/vuelo.png"> <!-- ELEMENT -->
        </article>
        <p class="website-name__description">Vive tus mejores experiencias con nosotros</p> <!-- ELEMENT -->
    </header>
    <section class="info-container">
        <article class="info-container__content">
            <h3 class="info-container__title">desarrolladores</h3>
            <p class="info-container__paragraph">jairo johan lasso chaucanes</p>
            <p class="info-container__paragraph">joseph camilo Ruiz hoyos</p>
            <p class="info-container__paragraph">zenith elles diaz</p>
            <p class="info-container__paragraph">oscar mauricio vargas uribe</p>
        </article>
        <article class="information-container__content">
            <h3 class="info-container__title">information academica</h3>
            <p class="info-container__paragraph">servicio nacional de aprendizaje</p>
            <p class="info-container__paragraph">tecnico en programacion de aplicaciones y servicios para la nube</p>
            <p class="info-container__paragraph">SENA, 2024.</p>
        </article>
    </section>
</footer>
