<header class="container">
    <h3 class="header #00bcd4 cyan-text">Reservas</h3>
    <p>Esta ventana le permite crear reservas, gestionarlas y conocer el estado de las mismas.</p>
</header>

<div class="container">
    <div class="card">
        <table #reservaTable class="striped centered" hidden="hidden">
            <thead>
                <tr>
                    <th>id</th>
                    <th>codigo</th>
                    <th>Fecha de inicio de reserva</th>
                    <th>Fecha de fin de reserva</th>
                    <th>Estado de reserva</th>
                </tr>
            </thead>
    
            <tbody>
                @for(reserva of reservas; track reserva.id){
                    <tr>
                        <td>{{reserva._id}}</td>
                        <td>{{reserva.codigo}}</td>
                        <td>{{reserva.fechaInicioReserva}}</td>
                        <td>{{reserva.fechaFinReserva}}</td>
                        <td>{{reserva.estadoReserva}}</td>
                      </tr>
                    <tr>
                }
              </tbody>
        </table>
    </div>
</div>

<section class="container">
    <div class="row card-panel #e0f7fa cyan lighten-5">
        <form #reservaForm="ngForm" (ngSubmit)="crearReserva(reservaForm)" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input 
                    name="fechaInicioReserva" 
                    #fechaInicioReserva="ngModel" 
                    [(ngModel)]="reservaService.selectedReserva.fechaInicioReserva" 
                    id="fecha_ini_reserva" type="date" class="validate #f5f5f5 grey-text lighten-4" required>
                    <label for="fecha_ini_reserva">Fecha inicio de reserva</label>
                </div>
                <div class="input-field col s6">
                    <input  
                    name="fechaFinReserva" 
                    #fechaFinReserva="ngModel" 
                    [(ngModel)]="reservaService.selectedReserva.fechaFinReserva" 
                    id="fecha_fin_reserva" type="date" class="validate #f5f5f5 grey-text lighten-4" required>
                    <label for="fecha_fin_reserva">Fecha fin de reserva</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <select
                        name="estadoReserva" 
                        #estadoReserva="ngModel" 
                        [(ngModel)]="reservaService.selectedReserva.estadoReserva"             
                        required
                    >
                        <option value="" disabled selected>Seleccione una opcion</option>
                        <option value="activa">activa</option>
                        <option value="cancelada">cancelada</option>
                        <option value="expirada">expirada</option>
                    </select>
                    <label>estado reserva</label>
                </div>

                <div class="input-field col s6">
                    <input name="codigo" 
                    #codigo="ngModel" 
                    [(ngModel)]="reservaService.selectedReserva.codigo" 
                    id="codigo_reserva" type="number" class="validate #f5f5f5 grey-text lighten-4" required>
                    <label for="codigo_reserva">codigo de reserva</label>
                </div>
            </div>

            <article class="input-field center">
                <button type="submit" class="btn waves-effect #00bcd4 cyan "><i class="material-icons right">add</i>crear reserva</button>
            </article>   
        </form>

        <div class="center">
            <button type="reset" (click)="resetForm(reservaForm)" class="btn waves-effect #00bcd4 cyan "><i class="material-icons right">add</i>Limpiar</button>
            <button type="click" (click)="getAllReservas()" class="btn waves-effect #00bcd4 cyan "><i class="material-icons right">list</i>mostrar reservas</button>
            <button class="btn waves-effect #00bcd4 cyan "><i class="material-icons right">search</i>buscar</button>
        </div>
    </div>
</section>



